* {
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

svg {
  color: #54577c;
  width: 70px;
  height: 70px;
  margin: 1rem auto;
}

h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}

h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3125rem;
}

.App {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin: 6rem auto 0;
  font-family: "Quicksand", sans-serif;
}

.message {
  position: fixed;
  top: 20vh;
  left: 15%;
  text-align: center;
  font-size: 1.25rem;
  width: 70%;
  background-color: #faffd8;
  color: #54577c;
  border: 2px solid #54577c;
  padding: 3rem 1.5rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.message:hover .close-message {
  opacity: 1;
}

.message .close-message {
  position: absolute;
  opacity: 0;
  right: 5px;
  top: 5px;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.message .close-message:hover {
  background-color: #54577c;
  color: #faffd8;
}

.favorite-quotes h3 {
  width: 100%;
}

.favorite-quotes .quote-card {
  background-color: #54577c;
  color: #faffd8;
  border: 0;
}

.random-quote header {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.random-quote header h3 {
  font-size: 1.3125rem;
}

.random-quote header button {
  background-color: #54577c;
  color: #faffd8;
  padding: 7px 12px;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.random-quote header button:hover {
  background-color: #222332;
  color: #f6f9e3;
  box-shadow: 9px 6px 16px -4px rgba(84, 84, 84, 0.33);
}

.random-quote .quote-card {
  background-color: #faffd8;
  width: 100%;
  margin-bottom: 2rem;
  background-origin: padding-box;
}

.category-filter {
  margin-bottom: 2rem;
}

.category-filter fieldset {
  padding: 1rem;
  text-align: center;
}

.category-filter select {
  margin-left: 2rem;
  font-size: inherit;
  font-family: inherit;
  padding: 7px 10px;
}

.quotes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 1rem;
}

.quotes h3 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

.quotes p {
  width: 100%;
  font-size: 1.3125rem;
}

.quote-card {
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  max-width: 100%s;
  background-color: #9aa899;
}

.quote-card .close-quote {
  position: absolute;
  padding: 1rem;
  cursor: pointer;
  top: 0;
  right: 0;
}

.quote-card .close-quote {
  background-color: #54577c;
  transition: 0.3s;
}

.quote-card .close-quote:hover {
  color: #54577c;
  background-color: #faffd8;
}

.quote-card .add-favorite {
  width: 16ch;
  margin: 2rem 0 0;
  display: flex;
  justify-content: center;
  border: 1px solid #54577c;
  padding: 0.35rem;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.3s;
}

.quote-card .add-favorite:hover {
  background-color: #54577c;
  color: #faffd8;
  box-shadow: 9px 6px 16px -4px rgba(84, 84, 84, 0.33);
}

@media (min-width: 800px) {
  .quotes {
    justify-content: space-between;
  }
  .quote-card {
    width: 48%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1400px) {
  .quotes {
    justify-content: flex-start;
  }
  .quote-card {
    width: calc(33% - 1rem);
  }
}
